*{
    margin:0;
    padding:0;
}

.principal{
    color: rgba(236, 59, 59, 0.836);
    text-align: center;
    background-color:rgb(250, 248, 248);
    padding-bottom: 50%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: oblique;
    padding-top: 29px;
    padding-bottom: 170px;
    
}
.compu{
    width: 350px;
    height: 350px;
    color: rgb(255, 243, 240);
}
/*letra*/
.container {
    position: relative;
    width: 100%;
}
.overlay {
    
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .15s ease;
}
.container:hover .overlay {
    bottom: 0;
    height: 100%;
}
.text {
    
    color: rgba(236, 59, 59, 0.836);
    font-size: 70px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: -150px;
    font-family:inherit;
    font-style: oblique;
}

/*final de letra  revisar*/


/* estilos de barra de navegacion */
ul {
    list-style-type:none;
    padding: 0;
    overflow: hidden;
    background-color:#db0a0a;
   
}

li {
    float: left;
    margin-left: 89px;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111110 ;
}

li a.active {
    color: white;
    background-color: #050504 ;
}

/* fin*/
.parte{
    font-style: oblique;
    background-color:#db0a0a;
    width: 50%;
    margin-top: 1%;
    padding-top: 140px;
    text-align: center;
    font-size: 50px;
    height: 400px;
    
}
.eyes{
    width: 300px;
    height: 300px;
    
}
.partedos{
    float: right;
    background-color: #050504;
    color: aliceblue;
    width: 50%;
    padding-top: 140px;
    text-align: center;
    margin-top: -49.9%;
}
.partetres{
    float: right;
    background-color: #474744;
    color: aliceblue;
    width: 50%;
    padding-top: 140px;
    text-align: center;
    margin-top: -33%;
}.partecuatro{
    float: right;
    background-color: #050504;
    color: aliceblue;
    width: 50%;
    padding-top: 140px;
    text-align: center;
    margin-top: -16.3%;
}
.final{
    margin-top: 10%;
    margin-left: 15%;
    font-style: oblique;
    font-size: 20px;
}
.flecha{
    float: right;
    margin-top: -5%;
    width: 100px;
    height: 100px;
    margin-right: 75%;
}
/*Pie de pagina*/
footer {
    background-color: #050504;
    border: red 5px solid;
    color: #e7e7e7;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-style: oblique;
}

.marginFooter {
    margin: 40px;
}
/*fotos*/
.foto1{
    width: 550px;
    height: 150px;
    margin-top: -90.6%;
}





